  </main>
  <footer>
  <% include user-menu.ejs %>
  </footer>
  <noscript>
    <style>
      input#search {
        display: none;
      }
    </style>
  </noscript>
  <script type="module" src="js/script.js"></script>
  </body>
</html>