<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <!-- Adds favicon -->
  <link rel="shortcut icon" href="images/favicon/favicon-dark.png" />
  <!-- Adds icon for ios users who saved this site as a shortcut -->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/favicon-dark.png" />
  <link rel="manifest" href="manifest.json">
  <% include title.ejs %>
</head>
<body <% if(typeof pageType !== 'undefined'){%>data-page-type="<%= pageType _%>"<%}%>>
  <header class="flex --justify-center --align-center">
    <% include header-menu.ejs %>
    <img src="images/logo/main-logo.svg" class="logo-img" alt="">
    <%if(typeof offline === 'undefined'){%>
      <a href="/logout">Logout</a>
    <%}%>
  </header>
  <main>
