<% include components/head.ejs %>
    <section id="banner">
      <h2>More than <span>6.383</span> people joined already!</h2>
    </section>
    <nav class="home-menu">
      <ul>
        <li>
          <a class="btn --primary" href="/login">Login</a>
          <a class="btn" href="/register">Register now!</a>
        </li>
      </ul>
    </nav>
<% include components/footer.ejs %>
