<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>MetalMatch!</title>
</head>
<body>
  <header>
    <img src="images/logo-main.svg" alt="">
  </header>
  <main>
    <!-- <div class="errors">
      <%if(errors !== 'undefined'){%>
        <% errors.forEach((elem)=>{%>
          <p><%=elem_%></p> 
        <%})%>
        <%}%>
    </div> -->
    <form action="/submit" method="POST">
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <button type="submit">Sign-up</button>
    </form>
  </main>
  <footer>
  </footer>
  <script type="module" src="js/script.js"></script>
</body>
</html>
