<section id="top-twenty">
  <form action="/" method="post">
    <fieldset>
      <legend>Voeg je favoriete artiesten toe aan jouw top 20!</legend>
      <label for="title">Zoek naar een metalartiest!</label>
      <input id="title" name="title" type="text" placeholder="Zoek op artiest of bandnaam">
      <label for="age">Age</label>
      <input id="age" name="age" type="number">
      <!-- <label for="description">Beschrijving Concert</label>
      <textarea id="description" name="description"></textarea> -->
      <input id="artistSubmit" type="submit" value="Voeg Toe">
   </fieldset>
  </form>
</section>
