<% include components/head.ejs %>
<a class="btn --primary" href="/add-bands">Add Bands</a>
<% if(Array.isArray(data[1].top_20) && data[1].top_20.length > 0){%>
  <ul class="top-twenty-list">
    <% for( let i = 0; i < data[1].top_20.length; i++){ %>
      <li class="band"><%= data[1].top_20[i] _%></li>
      <% if(i >= 20){
        break;
      }%>
    <% } %>
  </ul>
<% } %>

<% include components/footer.ejs %>
