/*
*  ==================================================================================================
*    Color variables! Declared with dolar sign because it's a Sass variable.
*    I prefer this over adding color variables to the :root because a small lack of browser support.
*    Sass variables compile the variables to vanila CSS anyways, which is compatible and still eficient
*  ==================================================================================================
*/
@font-face {
  font-family: Teko;
  src: url("/fonts/Teko-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Teko, "sans-serif";
  background-color: #000;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-transform: capitalize;
}

footer,
header,
main {
  padding: 0 5rem;
  box-sizing: border-box;
}
@media (max-width: 25.875rem) {
  footer,
header,
main {
    padding: 0 1rem;
  }
}

main {
  margin: 2rem 0 5.1875rem;
}

section {
  margin: 0 -5rem;
  padding: 0 5rem;
}
@media (max-width: 25.875rem) {
  section {
    margin: 0 -1rem;
    padding: 0 1rem;
  }
}

section#top-twenty {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

form fieldset {
  display: flex;
}
form legend {
  color: #fff;
}
form input {
  padding: 0.5rem;
  width: 100%;
}

header {
  width: 100%;
  background-color: #000;
}
header .logo-img {
  display: block;
  margin: 0 auto;
  max-width: 12rem;
}

.btn {
  padding: 1rem 0;
  display: inline-block;
  color: #fff;
  font-size: 120%;
  border: 1px solid white;
  width: 100%;
  font-weight: bold;
  transition: 0.3s;
  margin: 0 0 0.75rem;
  text-align: center;
}
.btn.--primary {
  background-color: #fff;
  color: #000;
}
@media (min-width: 25.875rem) {
  .btn {
    color: #b9b9b9;
  }
  .btn:hover {
    color: #fff;
    transition: 0.3s;
  }
}

nav.home-menu ul {
  padding: 0;
  margin: 0;
}

nav.main-nav {
  position: fixed;
  bottom: 0;
  background-color: #BD1E2D;
  width: 100%;
  box-shadow: 0 -5px 5px -5px #231f20;
  z-index: 99;
}
nav.main-nav ul {
  margin: 0;
  padding: 0;
}
nav.main-nav ul li {
  display: inline-block;
}
nav.main-nav ul li a {
  display: inline-block;
  padding: 1.5rem;
}

.band,
input[type=checkbox],
label {
  color: #fff;
}

.band.--item {
  background-color: #BD1E2D;
  margin: 0 0 0.75rem;
  padding: 1.25rem;
  list-style-type: none;
}

a.home-icon {
  height: 100%;
  width: 3rem;
  overflow: hidden;
  display: inline-block;
}

.top-twenty-list {
  padding: 0;
  margin: 0;
}

#add-bands input#name {
  margin: 0 0 1rem;
}
#add-bands label {
  height: 3rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 0 0.75rem;
}
#add-bands label.hide {
  display: none;
}
#add-bands span {
  padding: 1rem;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  background-color: #BD1E2D;
}
#add-bands input[type=checkbox] {
  border-radius: 50%;
  background: none;
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  background-color: grey;
  z-index: 99;
  outline: none;
  margin-right: 1rem;
}
#add-bands input[type=checkbox]:checked {
  background-color: green;
}
#add-bands input[type=checkbox]:checked ~ span {
  transition: all 0.3s;
  transform: scale(1.05);
}
#add-bands #submit-band {
  position: fixed;
  bottom: 1rem;
  z-index: 999;
  right: 1rem;
}

/*# sourceMappingURL=style.css.map */
