/*
*  ==================================================================================================
*    Color variables! Declared with dolar sign because it's a Sass variable.
*    I prefer this over adding color variables to the :root because a small lack of browser support.
*    Sass variables compile the variables to vanila CSS anyways, which is compatible and still eficient
*  ==================================================================================================
*/

$lightgrey: #b9b9b9;
$grey: grey;
$darkgray: #232323;
$red: red;
$black: #000;
$white: #fff;



// End color variables
$mb: 25.875rem;


// Main elements

*{
    box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background-color: $black;
}

h1, h2, h3, h4, h5, h6{
  color: $white;
}

header, main, footer{
    padding: 0 5rem;
    box-sizing: border-box;
    @media(max-width: $mb){
      padding: 0 1rem;
    }
}

section{
  margin: 0 -5rem;
  padding: 0 5rem;

  @media(max-width: $mb){
    margin: 0 -1rem;
    padding: 0 1rem;
  }
}

section#top-twenty{
  background-image: url(  '../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}


form{
  fieldset{
    display: flex;
  }
  legend{
    color:$white;
  }
  input[type='text']{
    padding: .5rem;
    width: 100%;
  }
}



header{
  height: 4rem;
  width: 100%;
  background-color: $black;
  nav{
    ul{
      padding: 0;
      margin: 0;
      li{
        a{
          padding: 1.5rem 2rem 1.5rem 0;
          display: inline-block;
          color: $lightgrey;
          font-weight: bold;
          transition: .3s;

          &:hover{
            color: $white;
            transition: .3s;
          }
        }
      }
    }
  }
}
